{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <br>
    <h2 style="text-align: center"><i class="star icon"></i>Check out NASA's Picture of the Day!<i class="star icon"></i></h2>
    <h3 style="text-align: center">This is a Flask app using NASA's APOD API.</h3>
    <br>
    <br>

    
    <!-- divider -->
    <div class="ui four column centered grid">
        <div class="column">
            <div class="ui section divider"></div>
        </div>
    </div>


{% endblock %}